@charset "ISO-8859-1";
.left_style{
	margin-top:60px;
	margin-left:-1px;
	height:750px;
	border: 1px solid #a1a1a1;
    padding: 10px 20px; 
    background:#1A2736;
    width: 330px;
    border-radius: 2px;
    color:white;
    font-size:22px;
}
.hr{
	border-color:white;
	width:350px;
	margin-top:8px;
	margin-left:-40px;
}
.hr2{
	border-color:#7e7e7f;
	width:870px;
	margin-left:-30px;
}
